{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Search Flights{% endblock %}

{% block content %}
{% include "header.html" %}

<div class="search-title">
    <h1>Where do you want to go?</h1>
</div>

<div class="container-fluid search-form">

    {% with messages = get_flashed_messages() %}
        {% if messages: %}
            {% for message in messages: %}
                {% if message != "Entry Deleted" %}
                <p class="warning">{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    {{ wtf.quick_form(form, button_map={'submit':'success'}) }}

</div>
<div class="container-fluid search-footer">

    {% include 'footer.html' %}
</div>

{% endblock %}

